/* Temporary Nav Bar Hide Until Backend */
/* .links {
    display: none;
} */

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

/* Header Styling */
.header {
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    /* justify-content: center; */
    justify-content: space-around;
    /* height: 150px; */
}

/* TEMPROARY */
.header>span {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
}

.header>hr {
    width: 100vw;
    border: 1px solid black;
}

.header>hr:nth-of-type(1) {
    margin-top: 0;
    margin-bottom: 20px;
}

.header>hr:nth-of-type(2) {
    margin-top: 20px;
}




.logo {
    height: 151.75px;
    width: 243.75px;
    margin-top: 20px;
    margin-left: 20px;
}

/* Temporarily Commented Out While Links Are Hidden */
/* .links {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 151.75px;
    text-align: center;
    align-items: center;
} */

/* TEMPORARY */
.links {
    display: flex;
    justify-content: center;
    width: 100vw;
    /* height: 151.75px; */
    text-align: center;
    align-items: center;
    gap: 40px;
}

.links>a:nth-of-type(2) {
    font-weight: 550;
}

.links>a:nth-of-type(3) {
    font-weight: 550;
}



.links>a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.links>a:hover {
    color: #86C4B9;
    font-weight: 700;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

.links>.active {
    text-decoration: underline;
    color: #0169C9;
    font-size: 20px;
    font-weight: 700;
}

/* Main Styling */
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #B3DEFD;
    padding: 20px 20px;
}

h2 {
    text-decoration: underline;
    text-underline-offset: 10px;
    margin-bottom: 10px;
}

.main-description {
    display: flex;
    flex-direction: column;
}

ul {
    margin-top: 0;
}

.main-image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-image-section>img {
    height: 187px;
    width: 281px;
}

/* Carousel Styling Section */
.carousel {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.temp-landscape {
    height: 187px;
    width: 281px;
}

.temp-home {
    height: 187px;
    width: 281px;
}

.temp-deck {
    height: 187px;
    width: 281px;
}

/* Contact Section Styling */
.contact {
    background-color: #B3DEFD;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contact-button {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 34px;
}

.contact-button:hover {
    background-color: #c8e9d5;
    font-size: 1em;
    transition: 0.3s ease-in-out;
}

/* License Styling */
.license-info {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.license-info>hr {
    width: 300px;
    margin: 0;
    border: 1px solid black;
}

/* Footer Styling */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #B3DEFD;
    margin-top: auto;
    font-size: 12px;
}

.footer>a {
    padding-top: 12px;
    padding-left: 5px;
}

.fa-github {
    color: black;
    font-size: 15px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

/* MEDIA QUERIES */
@media (max-width: 906px) {
    .carousel {
        flex-wrap: wrap;
    }
}

@media (max-width: 750px) {
    h2 {
        font-size: 20px;
    }

    .main {
        flex-direction: column;
    }

    .main-description {
        align-items: center;
        text-align: center;
    }

    .main-description>ul {
        list-style: none;
        padding-left: 0;
    }
}

@media (max-width: 520px) {
    .links {
        font-size: 15px;
    }

    .links>a:nth-of-type(2) {
        font-weight: 500;
    }

    .links>a:nth-of-type(3) {
        font-weight: 500;
    }

    .links>a:hover {
        font-weight: 600;
        font-size: 15px;
    }

    .links>.active {
        font-size: 18px;
        font-weight: 600;
    }

    h2 {
        font-size: 15px;
    }

    .main-description>p {
        font-size: 12px;
    }

    .main-description>ul {
        font-size: 12px;
    }

    .main-description>p:nth-of-type(2) {
        margin-top: 0;
    }

    .main-image-section>img {
        height: 124.67px;
        width: 187.33px;
    }

    .temp-landscape {
        height: 124.67px;
        width: 187.33px;
    }

    .temp-home {
        height: 124.67px;
        width: 187.33px;
    }

    .temp-deck {
        height: 124.67px;
        width: 187.33px;
    }

    .contact {
        flex-direction: column;
        text-align: center;
        font-size: 12px;
    }

    .contact-button {
        height: 17px;
    }

    .license-info {
        font-size: 12px;
    }

    .license-info>hr {
        width: 200px;
    }
}

@media (max-width: 300px) {
    .logo {
        height: 126.46px;
        width: 203.13px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .links {
        flex-direction: column;
        font-size: 12px;
        gap: 10px;
    }

    .links>a:hover {
        font-weight: 600;
        font-size: 15px;
    }

    .links>.active {
        font-size: 15px;
        font-weight: 600;
    }

    .footer {
        font-size: 10px;
    }

    .footer>a {
        padding-top: 9px;
    }

    .fa-github {
        color: black;
        font-size: 12px;
        transition: transform 0.3s ease-in-out;
    }
}